@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

/*-- VARIABLES CSS--*/
/*Colores*/
:root{
    --first-color: #fff1ff;
    --second-color: #e6feff;
    --third-color: #FFE8DF;
    --accent-color: #FF5151;
    --dark-color: #161616;
}

/*Tipografia responsive*/
:root{
    --body-font: 'Open Sans';
    --h1-font-size: 2.5rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --smaller-font-size: 0.75rem;
}
/*--@media screen and (min-width: 768px){
    :root{
        --h1-font-size: 2rem;
        --normal-font-size: 1rem;
        --smaller-font-size: 0.813rem;
    }
}--*/

/*-- BASE --*/
*,::after,::before{
    box-sizing: border-box;
}
body{
    margin: 2rem 0 0 0;
    background-color: rgb(255, 255, 255);
    color: var(--dark-color);
    font-family: var(--body-font);
}
h1{
    font-size: var(--h1-font-size);
    color: #052f74;
}
img{
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}

/*-- LAYAOUT --*/
.main {
    padding: 2rem 0;
}
.bd-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    max-width: 1200px;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    align-items: center;
    gap: 2rem;
}

/*-- PAGES --*/
.title-shop{
    display: flex;
    justify-content: center;
    margin: 0 2.5rem;
    position: relative;
}
.title-shop::after{
    content: '';
    /*--position: absolute;
    top: 50%;
    width: 72px;
    height: 2px;
    background-color: var(--dark-color);
    margin-left: .25rem;--*/
}
/*bg*/
.container{
    position: relative;
    transform-style: preserve-3d;
    animation: animate 10s linear infinite;
    display: flex;
    align-items: center;
}
@keyframes animate {
    0%{  
    transform: perspective(1000px) rotateX(15deg) rotateY(15deg);
    }
    15%{  
    transform: perspective(1000px) rotateX(15deg) rotateY(15deg);
    }
    100%{  
    transform: perspective(1000px) rotateX(375deg) rotateY(375deg);
    }
}
.container .block{
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    transform-style: preserve-3d;
}
.container .block:nth-child(1){
    transform: translate3d(0,0,170px) rotateX(0deg);
}
.container .block:nth-child(2){
    transform: translate3d(0,-140px,-30px) rotateX(90deg);
}
.container .block:nth-child(3){
    transform: translate3d(-30px,-140px,0)  rotateY(90deg) rotateX(90deg);
}
.container .block:nth-child(4){
    transform: translate3d(0,0,170px) rotateX(0deg);
}
.container .block:nth-child(5){
    transform: translate3d(0,10px,30px) rotateX(90deg);
}
.container .block:nth-child(6){
    transform: translate3d(30px,140px,0)  rotateY(90deg) rotateX(90deg);
    
}
.container .block:nth-child(7){
    transform: translate3d(0,10px,30px) rotateX(90deg);
}
.container .block:nth-child(8){
    transform: translate3d(30px,80px,0)  rotateY(90deg) rotateX(90deg);
    
}
/**/
.container .block .box {
    position: absolute;
    top: 0%;
    left: 0;
    transform-style: preserve-3d;
}
.container .block .box:nth-child(1){
    transform: rotateY(0deg) translateX(0px) translateZ(0px);
}
.container .block .box:nth-child(2){
    transform: rotateY(90deg) translateX(170px) translateZ(-170px);
}
.container .block .box:nth-child(3){
    transform: rotateY(180deg) translateX(0px) translateZ(340px);
}
.container .block .box:nth-child(4){
    transform: rotateY(270deg) translateX(-170px) translateZ(-170px);
}
.container .block .box:nth-child(5){
    transform: rotateY(0deg) translateX(0px) translateZ(0px);
}
.container .block .box:nth-child(6){
    transform: rotateY(90deg) translateX(170px) translateZ(-170px);
}
.container .block .box:nth-child(7){
    transform: rotateY(180deg) translateX(0px) translateZ(340px);
}
.container .block .box:nth-child(8){
    transform: rotateY(270deg) translateX(-170px) translateZ(-170px);
}
.container .block .box .shap{
    width: 400px;
    height: 60px;
}
.container .block .box .shap .side{
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    box-shadow: inset 0 0 10px rgb(53, 154, 161);
    transition: 0.5s;
}
.container .block .box .shap .side:nth-child(1){
    transform: rotateX(0deg) translate3d(0,0,30px);
}
.container .block .box .shap .side:nth-child(2){
    transform: rotateX(90deg) translate3d(0,0,30px);
}
.container .block .box .shap .side:nth-child(3){
    transform: rotateX(180deg) translate3d(0,0,30px);
}
.container .block .box .shap .side:nth-child(4){
    transform: rotateX(270deg) translate3d(0,0,30px);
}


/*-- COMPONENT --*/
.card{
   /* position: relative;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    overflow: hidden;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    position: relative;
    border-top: 2px solid rgb(16, 157, 175);
    border-left: 2px solid rgb(0, 145, 150);
    border-right: 2px solid rgb(94, 182, 189);
    border-bottom: 2px solid rgb(0, 145, 150);
}
article:nth-child(1){
    background-color: var(--first-color);
}
article:nth-child(2){
    background-color: var(--second-color);
}
article:nth-child(3){
    background-color: var(--third-color);
}
article:nth-child(4){
    background-color: var(--second-color);
}
article:nth-child(5){
    background-color: var(--first-color);
}
article:nth-child(6){
    background-color: var(--second-color);
}
article:nth-child(7){
    background-color: var(--third-color);
}
article:nth-child(8){
    background-color: var(--second-color);
}
.card__img{
    width: 180px;
    height: auto;
    padding: 3rem 0;
    transition: .5s;
}
.card__name{
    position: absolute;
    left: -25%;
    top: 0;
    width: 3.5rem;
    height: 100%;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
    background-color: var(--dark-color);
    color: #fff;
    font-weight: bold;
    transition: .5s;
}
.card__icon{
    font-size: 1.5rem;
    color: var(--dark-color);
}
.card__icon:hover{
    color: var(--accent-color);
}
.card__precis{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    transition: .5s;
}
.card__preci{
    display: block;
    text-align: center;
}
.card__preci--before{
    font-size: var(--smaller-font-size);
    color: var(--accent-color);
    margin-bottom: .25rem;
}
.card__preci--now{
    font-size: var(--h3-font-size);
    font-weight: bold;
}
/*Move left*/
.card:hover{
    box-shadow: 0 .5rem 1rem #D1D9E6;
}
.card:hover .card__name{
    left: 0;
}
.card:hover .card__img{
    transform: rotate(360deg);
    margin-left: 3.5rem;
}
.card:hover .card__precis{
    margin-left: 3.5rem;
    padding: 0 1.5rem;
}

/*-- MEDIA QUERIES --*/
@media screen and (min-width: 1200px){
    body{
        margin: 3rem 0 0 0;
    }
    .title-shop{
        margin: 0 5rem;
    }
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }
}